<div [class.toggled]="isMenuToggled" id="wrapper" class="sticky-top">
  <div class="bg-pink border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <div class="row">
        <div class="col-4">
          <a class="navbar-brand ml-1" routerLink="/admin/overview">
            <img src="assets/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="Logo">
          </a>
        </div>
        <div class="col align-self-center">
          <h4 class="text-white mb-0 font-weight-bolder">GRAYLL</h4>
        </div>
      </div>
    </div>
    <div class="bg-pink settings-menu">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 0"
            [ngClass]="activeLink === 0 ? 'active' : ''">
          User Management and Activity
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 1"
            [ngClass]="activeLink === 1 ? 'active' : ''">
          Issues Management
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 2"
            [ngClass]="activeLink === 2 ? 'active' : ''">
          Charts from Database
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            [routerLink]="['/admin/overview', {outlets: {admin: 'user-management'}}]"
            (click)="activeLink = 3"
            [ngClass]="activeLink === 3 ? 'active' : ''">
          User Activity Reports
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 4"
            [ngClass]="activeLink === 4 ? 'active' : ''">
          Alerts and Notifications
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 5"
            [ngClass]="activeLink === 5 ? 'active' : ''">
          Security
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 6"
            [ngClass]="activeLink === 6? 'active' : ''">
          Algorithm Management
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 7"
            [ngClass]="activeLink === 7 ? 'active' : ''">
          Adjust Parameters/Variables
        </li>
        <li class="list-group-item bg-transparent list-group-item-action"
            (click)="activeLink = 8"
            [ngClass]="activeLink === 8 ? 'active' : ''">
          Alerts and Notifications
        </li>
      </ul>
    </div>
  </div>
</div>
