<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Disable Wallet Messages?"></app-popup-header>
  <div class="modal-body">
    <div class="row my-2 d-flex align-items-center justify-content-center">
      <div class="col">
        <p>Are you sure that you want to disable wallet messages?</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <a href="javascript:void(0)" class="btn btn-outline-secondary" (click)="popupService.close()">
          Cancel
        </a>
      </div>
      <div class="col">
        <a (click)="disable()" href="javascript:void(0)" class="btn btn-purple">
          Disable
        </a>
      </div>
    </div>
  </div>
</ng-template>
