<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header text-center">
        <img class="img img-fluid logo" src="assets/images/logo.png" alt="Logo">
        <h4 class="text-light">2 Factor Authentication Code</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <app-error></app-error>
          <small class="text-light" *ngIf="(code.dirty || code.touched) && code.invalid && code.errors.required">
            Please enter your code.
          </small>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="keyIcon"></fa-icon>
              </span>
            </div>
            <input formControlName="code" type="text" class="form-control" placeholder="Enter 2FA Code">
          </div>
          <div class="form-group mb-0">
            <button (click)="loginClicked()" class="btn btn-block login_btn">Verify</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
