<div class="row">
  <div class="col-1">
    <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
  </div>
  <div class="col-11">
    <div class="row mt-1">
      <div class="col">
        <h6 class="font-weight-bolder">GRZ | Arkady</h6>
      </div>
      <div class="col text-right font-12">
        14:12 | 02/09/2019
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="font-12 mb-0">1
          0.11% ROI Increase | 18.81% Total Position ROI
          <br>
          <a href="javascript:void(0)" class="white-link">
            Position ID | 0108181408618385411
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
