.purple-link {
  color: #40278C!important;
}

.purple-link:hover {
  color: #CFA256!important;
  cursor: pointer!important;
}

.cancel:hover {
  cursor: pointer;
}

.pull-top {
  margin-top: -4px!important;
}

fa-icon:hover {
  cursor: pointer!important;
}

.search .input-group-text {
  border-color: #40278C;
  border-left: 0;
}

:host ::ng-deep .nav-pills {
  .nav-link {
    border-radius: 0;
    opacity: 0.7;
    font-size: 0.9rem;
    color: #40278C!important;
    border-bottom: 2px solid transparent!important;

    &.active {
      opacity: 1;
      background-color: transparent;
      border-bottom: 2px solid #40278C!important;
    }
  }
}
