<div
  style="background-color: #716c80; padding: 5px; display: flex; gap: 10px; flex-wrap: wrap; justify-content: space-between; margin-bottom: 1.25rem;">
  <div class="bg-white p-2">
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">QU2EST Pursuit</h6>
      <h6 class="text-purple">S-DUO 2</h6>
    </div>
    <div>
      <iframe width="200" height="150" src="https://www.youtube.com/embed/MXSKWLuS7Lk" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div>
      <h6 class="text-purple">Paris</h6>
    </div>
  </div>
  <div class="bg-white p-2">
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">QU2EST Pursuit</h6>
      <h6 class="text-purple">S-DUO 5</h6>
    </div>
    <div>
      <iframe width="200" height="150" src="https://www.youtube.com/embed/MXSKWLuS7Lk" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">London</h6>
      <h6 class="text-purple">01:30</h6>
    </div>
  </div>
  <div class="bg-white p-2">
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">QU2EST Pursuit</h6>
      <h6 class="text-purple">S-DUO 9</h6>
    </div>
    <div>
      <iframe width="200" height="150" src="https://www.youtube.com/embed/MXSKWLuS7Lk" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">New York</h6>
      <h6 class="text-purple">10:33</h6>
    </div>
  </div>
  <div class="bg-white p-2">
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">QU2EST Pursuit</h6>
      <h6 class="text-purple">S-DUO 31</h6>
    </div>
    <div>
      <iframe width="200" height="150" src="https://www.youtube.com/embed/MXSKWLuS7Lk" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">San Francisco</h6>
      <h6 class="text-purple">23:31</h6>
    </div>
  </div>
  <div class="bg-white p-2">
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">QU2EST Pursuit</h6>
      <h6 class="text-purple">S-DUO 45</h6>
    </div>
    <div>
      <iframe width="200" height="150" src="https://www.youtube.com/embed/MXSKWLuS7Lk" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="text-purple">Tokyo</h6>
      <h6 class="text-purple">03:11</h6>
    </div>
  </div>
</div>
