.first-box {
  /* background-color: #636fa4 !important; */
  background-color: white !important;
  color: white!important;
}

.second-box {
  /* background: linear-gradient(to right, #636fa4, #e8cbc0) !important; */
  /* background: linear-gradient(to right,#380808,#685d73) !important; */
  background-color: white !important;
  color: white!important;
}

.third-box {
  /* background-color: #e8cbc0; */
  /* background-color: #685d73; */
  background-color: white !important;
  color: white!important;
}

.card {
  background-color: #636fa4 !important;
}

.card-body {
  border-radius: 4px !important;
}

@media (max-width: 991px) {
  .first-box {
    /* background: linear-gradient(to right, #636fa4, #e8cbc0) !important; */
    /* background: linear-gradient(to right,#380808,#685d73) !important; */
    background-color: white !important;
  }

  .third-box {
    /* background: linear-gradient(to right, #636fa4, #e8cbc0) !important; */
    /* background: linear-gradient(to right,#380808,#685d73) !important; */
    background-color: white !important;
  }
}
