<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body first-box">
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 1 | Balthazar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 2 | Kaspar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 3 | Melkior
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRZ Arcady
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body second-box" style="height: 561px!important;">
        <div class="row">
          <div class="col-6">
            <p class="text-light font-14 mt-2 font-weight-bolder">Start Algo Position</p>
          </div>
          <div class="col-6">
            <button class="btn btn-purple float-right">Start GRY | 1</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  GRY | 1 <br> Balthaz
                </ng-template>
                <ng-template ngbTabContent></ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  GRY | 2 <br> Kaspar
                </ng-template>
                <ng-template ngbTabContent></ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  GRY | 3 <br> Melkior
                </ng-template>
                <ng-template ngbTabContent></ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  GRZ <br> Arcady
                </ng-template>
                <ng-template ngbTabContent></ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-0 mt-3">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                  <span class="text-light input-group-text bg-purple dollar-padding">$</span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control bg-purple" placeholder="USD Value">
              </div>
            </div>
            <div class="form-group mt-3 mb-0">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
                          </span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control bg-purple"
                       placeholder="GRY 1 | Balthazar Amount">
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center mt-3">
            <div class="border-white">
              <p class="mb-0">Approximately
                <countdown [config]="countdownConfig"></countdown>
                seconds Until <br> GRY/USD Value Update</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mt-3">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/xlm_logo_white.png" alt="XLM Logo">
                          </span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control bg-purple"
                       placeholder="GRX Amount" [(ngModel)]="GRXValue">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col">
                <button type="button" class="text-light btn bg-purple">Start GRX | 1</button>
              </div>
              <div class="col">
                <a class="navy-link" href="javascript:void(0)" (click)="populateMaxGRX()">
                  Max Available GRX: {{totalGRX}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body third-box">
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 1 | Balthazar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4 cancel">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 1 | Positions
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">121</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Current GRY 1 | Profits</h6>
              <h6 class="text-white font-weight-bolder mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 2 | Kaspar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4 cancel">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 2 | Positions
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">121</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Current GRY 2 | Profits</h6>
              <h6 class="text-white font-weight-bolder mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 3 | Melkior
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4 cancel">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 3 | Positions
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">121</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Current GRY 3 | Profits</h6>
              <h6 class="text-white font-weight-bolder mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow">
          <div class="d-flex align-items-center mb-3 pl-lg-4 pl-md-4">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY Arkady
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center pl-lg-4 pl-md-4 cancel">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRZ | Positions
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">121</h6>
            </div>
            <div class="ml-auto mr-3 text-right">
              <h6 class="text-white font-weight-bolder">GRZ Profits</h6>
              <h6 class="text-white font-weight-bolder mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
