<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body first-box h-100">
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 1 | Balthazar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 2 | Kaspar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 3 | Melkior
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRZ Arkady
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body second-box h-100 pb-0">
        <div class="row">
          <div class="col">
            <p class="text-light font-14 mt-2 font-weight-bolder">Open Algorithmic Position</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ngb-tabset type="pills" (tabChange)="didChangeTab($event.nextId)">
              <ng-container *ngFor="let item of algoItems">
                <ngb-tab [id]="item.id">
                  <ng-template ngbTabTitle>
                    {{item.name}}
                    <br>
                    {{item.tabName}}
                  </ng-template>
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
              </ng-container>
            </ngb-tabset>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-0 mt-3">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                  <span class="text-light input-group-text bg-purple dollar-padding">$</span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control bg-purple" placeholder="USD Value">
              </div>
            </div>
            <div class="form-group mt-3 mb-0">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
                          </span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control bg-purple"
                       [placeholder]="selectedTab.id + ' | ' + selectedTab.value + ' Amount'">
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center mt-3">
            <div class="border-white">
              <p class="font-weight-bolder">
                Current value GRY/USD | $0.09042
              </p>
              <div class="d-flex align-items-center px-3">
                <div>
                  <h6 class="font-weight-lighter text-white">% 24h</h6>
                  <h6 class="text-white font-weight-lighter">11.12</h6>
                </div>
                <div class="ml-auto  text-right">
                  <h6 class="font-weight-lighter text-white">% 7d</h6>
                  <h6 class="text-white font-weight-lighter">-0.12</h6>
                </div>
                <div class="ml-auto  text-right">
                  <h6 class="font-weight-lighter text-white">% ROI</h6>
                  <h6 class="text-white font-weight-lighter">1,009.45</h6>
                </div>
              </div>
              <p class="mb-0">
                Approximately
                <countdown [config]="countdownConfig"></countdown>
                Seconds Until <br> GRY/USD Value Update
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mt-3">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                          <span class="input-group-text bg-purple">
                            <img class="small-grayll-icon" src="assets/images/xlm_logo_white.png" alt="XLM Logo">
                          </span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control bg-purple"
                       placeholder="GRX Amount" [(ngModel)]="GRXValue">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row mb-0">
              <div class="col">
                <button type="button" class="text-light btn bg-purple">Open {{selectedTab.name}}</button>
              </div>
              <div class="col">
                <a class="navy-link" href="javascript:void(0)" (click)="populateMaxGRX()">
                  Max Available GRX: {{totalGRX}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body third-box h-100">
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 1 | Balthazar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white">Balance</h6>
              <h6 class="text-white">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3 cancel">
            <div>
              <h6 class="text-white">
                GRY 1 | Positions
              </h6>
              <h6 class="text-white mb-0">121</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white">Current GRY 1 | Profits</h6>
              <h6 class="text-white mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 2 | Kaspar
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3 cancel">
            <div>
              <h6 class="text-white">
                GRY 2 | Positions
              </h6>
              <h6 class="text-white mb-0">121</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white">Current GRY 2 | Profits</h6>
              <h6 class="text-white mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow mb-2">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 3 | Melkior
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3 cancel">
            <div>
              <h6 class="text-white">
                GRY 3 | Positions
              </h6>
              <h6 class="text-white mb-0">121</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white">Current GRY 3 | Profits</h6>
              <h6 class="text-white mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
        <div class="border-yellow">
          <div class="d-flex align-items-center mb-3 px-3">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRZ Arkady
                <fa-icon [icon]="faInfo" class="purple-link cancel"></fa-icon>
              </h6>
              <h6 class="text-white font-weight-bolder m-b-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder">$10,000.00</h6>
            </div>
          </div>
          <div class="d-flex align-items-center px-3 cancel">
            <div>
              <h6 class="text-white">
                GRZ | Positions
              </h6>
              <h6 class="text-white mb-0">121</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white">Current GRZ | Profits</h6>
              <h6 class="text-white mb-0">$7,000.00</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
