.card-body {
  border-radius: 4px !important;
}

.wallet-box {
  margin-left: 10px;
}

.c-cost {
  padding: 20px 20px;
  border: 1px solid #40278C !important;
  border-radius: 5px;
}

.c-cost-wallet {
  padding: 20px 20px 7px 20px!important;
}

ul {
  list-style-type: none;
  margin-top: 30px;
}

::ng-deep ul.nav-tabs {
  justify-content: center!important;
  border: 0;
}

::ng-deep .tooltip-inner {
  background-color: #40278C!important;
}

::ng-deep .bs-tooltip-auto[x-placement^=bottom] ::ng-deep .arrow::before,
::ng-deep .bs-tooltip-bottom ::ng-deep .arrow::before {
  border-bottom-color: #40278C!important;
}

.small-grayll-icon {
  width: 18px;
}

::ng-deep .nav-pills {
  .nav-link {
    border-radius: 0;
    opacity: 0.7;
    font-size: 0.9rem;
    color: #40278C!important;
    
    &.active {
      opacity: 1;
      background-color: transparent;
      border-bottom: 2px solid #40278C!important;
    }
  }
}

input {
  border-left: 1px solid #CFA256;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.dollar-padding {
  padding-left: 19px!important;
  padding-right: 19px!important;
}

.xlm-padding {
  padding-left: 25px!important;
  padding-right: 25px!important;
}

.first-box {
  background-color: white !important;
  color: #40278C!important;
}

.second-box {
  // background: linear-gradient(to right, #636fa4, #e8cbc0) !important;
  //background: linear-gradient(to right,#380808,#685d73) !important;
  background-color: white !important;
  color: #40278C!important;
}

.third-box {
  //background-color: #685d73;
  background-color: white !important;
  color: #40278C!important;
}

.card {
  background-color: #636fa4 !important;
}

.purple-link {
  color: #40278C!important;
}

.purple-link:hover {
  color: #40278C!important;
}

.gold-link {
  color: #CFA256!important;
}

.gold-link:hover {
  color: #AC7F31!important;
}

.white-link {
  color: #fff!important;
}

.white-link:hover {
  color: #CFA256!important;
}

:host ::ng-deep .carousel-inner {
  outline: 0!important;
}

:host ::ng-deep .carousel-item.active {
  outline: 0!important;
}

:host ::ng-deep .carousel {
  outline: 0!important;
}

:host ::ng-deep .carousel-control-prev {
  display: block;
  position: absolute;
  top: 100px;
  left: -15px;
}

:host ::ng-deep .carousel-control-next {
  display: block;
  position: absolute;
  top: 100px;
  right: -15px;
}

:host ::ng-deep .carousel-control-prev-icon {
  background-image: url('../../../assets/images/left-chevron.png');
  width: 15px;
  height: 24px;
}

:host ::ng-deep .carousel-control-next-icon {
  background-image: url('../../../assets/images/right-chevron.png');
  width: 15px;
  height: 24px;
}

:host #tabset-mobile ::ng-deep .custom-pills ul {
  justify-content: center!important;
}

.form-control-no-border{
  border:1px solid white  !important;
}

@media (max-width: 480px) {
  .p-font {
    font-size: 14px!important;
  }
}

@media (min-width: 481px) {
  .p-font {
    font-size: 16px!important;
  }
}

@media (min-width: 992px) {
  .card {
    margin-bottom: 0!important;
    height: 100%!important;
  }

  .card-body {
    padding-bottom: 0!important;
  }
}
