<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Change Account Password"></app-popup-header>
  <div class="modal-body">
    <div class="row my-2 d-flex align-items-center justify-content-center">
      <div class="col">
        <app-error></app-error>
        <form [formGroup]="form">
          <div class="form-group">
            <label class="text-purple" for="currentPassword">Current Password</label>
            <input formControlName="currentPassword" type="password" class="form-control form-control-no-border" id="currentPassword" placeholder="Enter current password">
          </div>
          <div class="form-group">
            <label class="text-purple" for="newPassword">New Password</label>
            <input formControlName="newPassword" type="password" class="form-control form-control-no-border" id="newPassword" placeholder="Enter new password">
          </div>
          <div class="form-group">
            <label class="text-purple" for="confirmNewPassword">Current Email</label>
            <input formControlName="confirmNewPassword" type="password" class="form-control form-control-no-border" id="confirmNewPassword" placeholder="Re-enter new password">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <div class="row">
      <div class="col">
        <a href="javascript:void(0)" class="btn btn-outline-secondary" (click)="popupService.close()">
          Cancel
        </a>
      </div>
      <div class="col">
        <a (click)="save()" href="javascript:void(0)" class="btn btn-purple">
          Save Changes
        </a>
      </div>
    </div>
  </div>
</ng-template>
