/* MODAL STYLES
-------------------------------*/
app-jw-modal {
  /* modals are hidden by default */
  display: none;
}

.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;

  .jw-modal-body {
    background: transparent;

    width: 373px;
    height: fit-content;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;

    /* margin exposes part of the modal background */
    margin: 128px auto auto auto;
  }
}

.jw-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

@media (max-width: 420px) {
  .card {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 20%;
    .mobile-system-nots {
      height: 320px!important;
    }
  }
}

@media (max-width: 320px) {
  .card {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 20%;
    .mobile-system-nots {
      height: 260px!important;
    }
  }
}
