<!-- Visible only on Desktop -->
<div class="row d-none d-lg-flex">
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body bg-white h-100">
        <div class="d-flex">
          <div class="px-3" routerLink="/wallet/overview" style="outline: none;">
            <span>Total Account Value</span>
            <h5 class="font-weight-bolder bottom-border-navy-animated mb-0">$100,000,000,000.00</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart m-b-40 chart">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated pointer pt-0" routerLink="/wallet/overview" style="outline: none;">
          <div class="d-flex align-items-center mt-2 mb-2 px-3">
            <div>
              <h6 class="text-purple font-weight-bolder">
                GRX
              </h6>
              <h6 class="text-purple font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto text-right">
              <h6 class="text-purple font-weight-bolder">Balance</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated pt-0" routerLink="/wallet/overview" style="outline: none;">
          <div class="d-flex align-items-center my-2 px-3 pointer">
            <div>
              <h6 class="text-purple font-weight-bolder">
                XLM
              </h6>
              <h6 class="text-purple font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Balance</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000.00</h6>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated pt-0" routerLink="/system/overview" style="outline: none;">
          <div class="d-flex align-items-center my-2 px-3 pointer">
            <div>
              <h6 class="text-purple font-weight-bolder">
                USDC
              </h6>
              <h6 class="text-purple font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto text-right">
              <h6 class="text-purple font-weight-bolder">Balance</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000.00</h6>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated pt-0" routerLink="/system/overview" style="outline: none;">
          <div class="d-flex align-items-center mt-2 px-3 pointer">
            <div>
              <h6 class="text-purple font-weight-bolder">
                DeFi System
              </h6>
              <h6 class="text-purple font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Value</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000.00</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body bg-white h-100">
        <div class="d-flex">
          <div class="bottom-border-navy-animated px-3" style="outline: none;" routerLink="/system/overview">
            <span>Total DeFi Profits</span>
            <h5 class="font-weight-bolder mb-0">$100,000,000,000.00</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart chart">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>

        <div routerLink="/system/overview" class="bottom-border-navy-animated mt-2 mb-2 px-3 cancel" style="outline: none;">
          <div class="d-flex align-items-center mb-2">
            <div>
              <h6 class="text-purple font-weight-bolder">
                GLP1 + GETP1
              </h6>
              <h6 class="text-purple font-weight-bolder">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Profits</h6>
              <h6 class="text-purple font-weight-bolder">$100,000,000,000.00</h6>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <div>
              <h6 class="font-weight-lighter text-purple">% 24h</h6>
              <h6 class="text-purple font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-purple">% 7d</h6>
              <h6 class="text-purple font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-purple font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>

        <div routerLink="/system/overview" class="bottom-border-navy-animated mt-4 px-3 cancel" style="outline: none;">
          <div class="d-flex align-items-center mb-2">
            <div>
              <h6 class="text-purple font-weight-bolder">
                2LYF + DX2Y
              </h6>
              <h6 class="text-purple font-weight-bolder">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Profits</h6>
              <h6 class="text-purple font-weight-bolder">$100,000.00</h6>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <div>
              <h6 class="font-weight-lighter text-purple">% 24h</h6>
              <h6 class="text-purple font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-purple">% 7d</h6>
              <h6 class="text-purple font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-purple">% ROI</h6>
              <h6 class="text-purple font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body bg-white h-100">
        <div class="d-flex">
          <div class="bottom-border-navy-animated px-3" style="outline: none;" routerLink="/system/overview">
            <span>Total Open DeFi Positions</span>
            <h5 class="font-weight-bolder mb-0">$100,000,000,000.00</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart m-b-40 chart">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated pt-0" routerLink="/system/overview" style="outline: none;">
          <div class="d-flex align-items-center mt-2 mb-2 px-3 pointer">
            <div>
              <h6 class="text-purple font-weight-bolder">
                GLP1
              </h6>
              <h6 class="text-purple mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Value</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated pt-0" routerLink="/system/overview" style="outline: none;">
          <div class="d-flex align-items-center my-2 px-3 pointer">
            <div>
              <h6 class="text-purple font-weight-bolder">
                GETP1
              </h6>
              <h6 class="text-purple mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Value</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated pt-0" routerLink="/system/overview" style="outline: none;">
          <div class="d-flex align-items-center my-2 px-3 pointer">
            <div>
              <h6 class="text-purple font-weight-bolder">
                2LYF
              </h6>
              <h6 class="text-purple mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Value</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated pt-0" routerLink="/system/overview" style="outline: none;">
          <div class="d-flex align-items-center mt-2 px-3 pointer">
            <div>
              <h6 class="text-purple font-weight-bolder">
                DX2Y
              </h6>
              <h6 class="text-purple mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-purple font-weight-bolder">Value</h6>
              <h6 class="text-purple font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Visible only on mobile -->
<div class="d-lg-none">
  <ngb-carousel id="carouselData" [interval]="0" [showNavigationIndicators]="false">
    <ng-template ngbSlide>
      <div class="card border-0">
        <div class="card-body  bg-white" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">
          <div class="d-flex justify-content-center">
            <div class="text-center mobile-bottom-border" routerLink="/wallet/overview" style="outline: none;">
              <span>Total Account Value</span>
              <h5 class="font-weight-bolder mb-0">$100,000,000,000.00</h5>
            </div>
          </div>
          <div class="chart mx-auto" style="max-width:130px;margin-top:15px;height:65px!important;">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
          </div>

          <div class="pt-0 mobile-bottom-border" routerLink="/wallet/overview" style="outline: none;">
            <div class="d-flex align-items-center mt-2 mb-2 px-3">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  GRX
                </h6>
                <h6 class="text-purple font-weight-bolder mb-0">$0.08000</h6>
              </div>
              <div class="ml-auto text-right">
                <h6 class="text-purple font-weight-bolder">Balance</h6>
                <h6 class="text-purple font-weight-bolder">$100,000,000,000.00</h6>
              </div>
            </div>
          </div>

          <div class="pt-0 mobile-bottom-border" routerLink="/wallet/overview" style="outline: none;">
            <div class="d-flex align-items-center my-2 px-3 ">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  XLM
                </h6>
                <h6 class="text-purple font-weight-bolder">$0.08000</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Balance</h6>
                <h6 class="text-purple font-weight-bolder">$100,000.00</h6>
              </div>
            </div>
          </div>

          <div class="pt-0 mobile-bottom-border" routerLink="/system/overview" style="outline: none;">
            <div class="d-flex align-items-center my-2 px-3">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  USDC
                </h6>
                <h6 class="text-purple font-weight-bolder">$0.08000</h6>
              </div>
              <div class="ml-auto text-right">
                <h6 class="text-purple font-weight-bolder">Balance</h6>
                <h6 class="text-purple font-weight-bolder">$100,000.00</h6>
              </div>
            </div>
          </div>

          <div class="pt-0 mobile-bottom-border" routerLink="/system/overview" style="outline: none;">
            <div class="d-flex align-items-center mt-2 px-3 pointer">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  DeFi System
                </h6>
                <h6 class="text-purple font-weight-bolder">$0.08000</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Value</h6>
                <h6 class="text-purple font-weight-bolder">$100,000.00</h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="card border-0">
        <div class="card-body bg-white" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">
          <div class="d-flex justify-content-center">
            <div class="text-center mobile-bottom-border" routerLink="/system/overview" style="outline: none;">
              <span>Total DeFi Profits</span>
              <h5 class="font-weight-bolder mb-0">$100,000,000,000.00</h5>
            </div>
          </div>
          <div class="chart mx-auto" style="max-width:130px;margin-top:15px;height:65px!important;">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
          </div>

          <div routerLink="/system/overview" class="mt-2 mb-2 px-3 mobile-bottom-border" style="outline: none;">
            <div class="d-flex align-items-center mb-2">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  GLP1 + GETP1
                </h6>
                <h6 class="text-purple font-weight-bolder">$0.08000</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Profits</h6>
                <h6 class="text-purple font-weight-bolder">$100,000,000,000.00</h6>
              </div>
            </div>

            <div class="d-flex align-items-center">
              <div>
                <h6 class="font-weight-lighter text-purple">% 24h</h6>
                <h6 class="text-purple font-weight-lighter m-0">0.08</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-lighter text-purple">% 7d</h6>
                <h6 class="text-purple font-weight-lighter m-0">-3.06</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-lighter text-purple">% ROI</h6>
                <h6 class="text-purple font-weight-lighter m-0">-20.08</h6>
              </div>
            </div>
          </div>

          <div routerLink="/system/overview" class="mt-4 px-3 mobile-bottom-border" style="outline: none;">
            <div class="d-flex align-items-center mb-2">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  2LYF + DX2Y
                </h6>
                <h6 class="text-purple font-weight-bolder">$0.08000</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Profits</h6>
                <h6 class="text-purple font-weight-bolder">$100,000.00</h6>
              </div>
            </div>

            <div class="d-flex align-items-center">
              <div>
                <h6 class="font-weight-lighter text-purple">% 24h</h6>
                <h6 class="text-purple font-weight-lighter m-0">0.08</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-lighter text-purple">% 7d</h6>
                <h6 class="text-purple font-weight-lighter m-0">-3.06</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="font-weight-lighter text-purple">% ROI</h6>
                <h6 class="text-purple font-weight-lighter m-0">-20.08</h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="card border-0">
        <div class="card-body bg-white" (swipeleft)="swipeLeft()" (swipeRight)="swipeRight()">
          <div class="d-flex justify-content-center">
            <div class="text-center mobile-bottom-border" routerLink="/system/overview" style="outline: none;">
              <span>Total Open DeFi Positions</span>
              <h5 class="font-weight-bolder mb-0">$100,000,000,000.00</h5>
            </div>
          </div>
          <div class="chart mx-auto" style="max-width:130px;margin-top:15px;height:65px!important;">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
          </div>

          <div class="pt-0 mobile-bottom-border" routerLink="/system/overview" style="outline: none;">
            <div class="d-flex align-items-center mt-2 mb-2 px-3">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  GLP1
                </h6>
                <h6 class="text-purple">Positions | 111</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Value</h6>
                <h6 class="text-purple font-weight-bolder">$100,000,000,000.00</h6>
              </div>
            </div>
          </div>

          <div class="mobile-bottom-border pt-0" routerLink="/system/overview" style="outline: none;">
            <div class="d-flex align-items-center my-2 px-3">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  GETP1
                </h6>
                <h6 class="text-purple">Positions | 111</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Value</h6>
                <h6 class="text-purple font-weight-bolder">$100,000,000,000.00</h6>
              </div>
            </div>
          </div>

          <div class="mobile-bottom-border pt-0" routerLink="/system/overview" style="outline: none;">
            <div class="d-flex align-items-center my-2 px-3">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  2LYF
                </h6>
                <h6 class="text-purple">Positions | 111</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Value</h6>
                <h6 class="text-purple font-weight-bolder">$100,000,000,000.00</h6>
              </div>
            </div>
          </div>

          <div class="mobile-bottom-border pt-0" routerLink="/system/overview" style="outline: none;">
            <div class="d-flex align-items-center mt-2 px-3">
              <div>
                <h6 class="text-purple font-weight-bolder">
                  DX2Y
                </h6>
                <h6 class="text-purple">Positions | 111</h6>
              </div>
              <div class="ml-auto  text-right">
                <h6 class="text-purple font-weight-bolder">Value</h6>
                <h6 class="text-purple font-weight-bolder">$100,000,000,000.00</h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
