.first-box {
  background: linear-gradient(to right, #636fa4, #e8cbc0) !important;
  color: white!important;
}

.second-box {
  background: linear-gradient(to right, #636fa4, #e8cbc0) !important;
  color: white!important;
}

.third-box {
  background: linear-gradient(to right, #636fa4, #e8cbc0) !important;
  color: white!important;
}

.card {
  background-color: #636fa4 !important;
}

.pointer:hover {
  cursor: pointer!important;
}

.card-body {
  border-radius: 4px !important;
}

.border-navy-hover {
  border-radius: 0.3rem;
  padding: 0.5rem 0.25rem;
  border: 1px solid transparent!important;
}

.border-navy-hover:hover {
  cursor: pointer!important;
  border-radius: 0.3rem;
  padding: 0.5rem 0.25rem;
  border: 1px solid #40278C!important;
}

.line-chart {
  max-width: 130px;
  height: 15px;
}

@media (min-width: 992px) {
  .card {
    height: 100%!important;
  }
  .card-body {
    padding-bottom: 0!important;
  }
}
