<div class="row header-boxes">
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body first-box h-100">
        <div class="d-flex">
          <div class="border-navy-hover px-3" routerLink="/wallet/overview" style="outline: none;">
            <span>Total Account Value</span>
            <h5 class="font-weight-bolder bottom-border-navy-animated mb-0">$100,000,000,000.00</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart m-b-40">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated pointer border-navy-hover pt-0" routerLink="/wallet/overview">
          <div class="d-flex align-items-center mt-2 mb-2 px-3" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                XLM
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated border-navy-hover pt-0" routerLink="/wallet/overview">
          <div class="d-flex align-items-center my-2 px-3 pointer" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRX
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000.00</h6>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated border-navy-hover pt-0" routerLink="/system/overview">
          <div class="d-flex align-items-center my-2 px-3 pointer" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY | <span class="font-italic">3xMagi</span>
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000.00</h6>
            </div>
          </div>
        </div>

        <div class="bottom-border-navy-animated border-navy-hover pt-0" routerLink="/system/overview">
          <div class="d-flex align-items-center mt-2 px-3 pointer" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRZ | <span class="font-italic">Arkady</span>
              </h6>
              <h6 class="text-white font-weight-bolder mb-0">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Balance</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000.00</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body second-box h-100">
        <div class="d-flex">
          <div class="border-navy-hover bottom-border-navy-animated px-3" style="outline: none;" routerLink="/system/overview">
            <span>Total Algo Profits</span>
            <h5 class="font-weight-bolder mb-0">$100,000,000,000.00</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>

        <div routerLink="/system/overview" class="border-navy-hover bottom-border-navy-animated mt-2 mb-2 px-3 cancel" style="outline: none;">
          <div class="d-flex align-items-center mb-2">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY | <span class="font-italic">3xMagi</span>
              </h6>
              <h6 class="text-white font-weight-bolder">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Profits</h6>
              <h6 class="text-white font-weight-bolder">$100,000,000,000.00</h6>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>

        <div routerLink="/system/overview" class="border-navy-hover bottom-border-navy-animated mt-4 px-3 cancel" style="outline: none;">
          <div class="d-flex align-items-center mb-2">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRZ | <span class="font-italic">Arkady</span>
              </h6>
              <h6 class="text-white font-weight-bolder">$0.08000</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Profits</h6>
              <h6 class="text-white font-weight-bolder">$100,000.00</h6>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <div>
              <h6 class="font-weight-lighter text-white">% 24h</h6>
              <h6 class="text-white font-weight-lighter m-0">0.08</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% 7d</h6>
              <h6 class="text-white font-weight-lighter m-0">-3.06</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="font-weight-lighter text-white">% ROI</h6>
              <h6 class="text-white font-weight-lighter m-0">-20.08</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body third-box h-100">
        <div class="d-flex">
          <div class="border-navy-hover bottom-border-navy-animated px-3" style="outline: none;" routerLink="/system/overview">
            <span>Total Open Algo Positions</span>
            <h5 class="font-weight-bolder mb-0">$100,000,000,000.00</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart m-b-40">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated border-navy-hover pt-0" routerLink="/system/overview">
          <div class="d-flex align-items-center mt-2 mb-2 px-3 pointer" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 1 | <span class="font-italic">Balthazar</span>
              </h6>
              <h6 class="text-white mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Value</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated border-navy-hover pt-0" routerLink="/system/overview">
          <div class="d-flex align-items-center my-2 px-3 pointer" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 2 | <span class="font-italic">Kaspar</span>
              </h6>
              <h6 class="text-white mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Value</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated border-navy-hover pt-0" routerLink="/system/overview">
          <div class="d-flex align-items-center my-2 px-3 pointer" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRY 3 | <span class="font-italic">Melkior</span>
              </h6>
              <h6 class="text-white mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Value</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

        <div class=" bottom-border-navy-animated border-navy-hover pt-0" routerLink="/system/overview">
          <div class="d-flex align-items-center mt-2 px-3 pointer" style="outline: none;">
            <div>
              <h6 class="text-white font-weight-bolder">
                GRZ | <span class="font-italic">Arkady</span>
              </h6>
              <h6 class="text-white mb-0">Positions | 111</h6>
            </div>
            <div class="ml-auto  text-right">
              <h6 class="text-white font-weight-bolder">Value</h6>
              <h6 class="text-white font-weight-bolder mb-0">$100,000,000,000.00</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
