<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Payment Failed"></app-popup-header>
  <div class="modal-body">
    <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;">
      <span class="swal2-x-mark">
        <span class="swal2-x-mark-line-left"></span>
        <span class="swal2-x-mark-line-right"></span>
      </span>
    </div>

    <div class="row text-center">
      <div class="col">
        <p class="text-purple font-16">Payment Failed</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <p class="text-purple" *ngIf="withdrawModel.address">{{withdrawModel.address}}</p>
        <p class="text-purple" *ngIf="withdrawModel.emailAddress">{{withdrawModel.emailAddress}}</p>
        <p class="text-purple" *ngIf="withdrawModel.phoneNumber">{{withdrawModel.phoneNumber}}</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <button class="btn btn-purple" (click)="review()">Review</button>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
  </div>
</ng-template>
