<div class="row">
  <!-- column -->
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body bg-gradient" routerLink="/system/overview" data-intercom-target="Total Account Value">
        <div class="d-flex">
          <div class="m-r-10 bottom-border-navy-animated">
            <span>Total Account Value</span>
            <h5 class="font-weight-bolder">$3,567.53</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart m-b-40">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body bg-gradient" routerLink="/system/overview" data-intercom-target="Total Account Profits">
        <div class="d-flex">
          <div class="m-r-10 bottom-border-navy-animated">
            <span>Total Account Profits</span>
            <h5 class="font-weight-bolder">$3,567.53</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart m-b-40">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <div class="col-sm-12 col-lg-4">
    <div class="card border-0">
      <div class="card-body bg-gradient" routerLink="/system/overview" data-intercom-target="Total Open Positions">
        <div class="d-flex">
          <div class="m-r-10 bottom-border-navy-animated">
            <span>Total Open Positions</span>
            <h5 class="font-weight-bolder">$3,567.53</h5>
          </div>
          <div class="ml-auto">
            <div class="line-chart m-b-40">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
