<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="text-purple" id="modal-basic-title">Know Your Customer(KYC)Requirements</h4>
    <button type="button" class="close" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button>
    <span ngbAutofocus></span>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-purple">
          Due to increased government regulations in multiple jurisdictions we are required to perform KYC (Know Your Customer) checks on all clients that wish to use or continue using GRAYLL Services. You will not be able to use any GRAYLL Services if the KYC process has not been completed and your application has not been approved.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center ">
        <p class="text-purple mb-0">
          The information we are required to collect is solely used for KYC purposes and will not be shared outside of GRAYLL, for your convenience you may review our <a href="https://grayll.io/privacy" class="text-purple privacy-hover privacy-underline">Privacy Policy</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <div class="row center-mobile">
      <div class="col">
        <a href="javascript:void(0)" class="btn btn-purple" (click)="gotoKycSettings()">
          Start KYC
        </a>
      </div>
    </div>
  </div>
</ng-template>
