@media (max-width: 420px) {
    .center-mobile {
      display: contents!important;
      text-align: center!important;
    }
  }
.privacy-hover{
  color:#15c;
}
.privacy-hover:hover{
  color:#CFA256;
}
.privacy-underline {
  text-decoration: underline;
}
  