<div class="card border-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Session History</p>
        <p>Total Sessions #</p>
        <p>Sign In = Date + Time (HH:MM:SS) + Duration + Region + Device + IP Address
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card border-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Notification History</p>
        <p>Total Notifications #</p>
        <p>Notifications Sent = Date + Time (HH:MM:SS) + Type
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card border-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Message History</p>
        <p>Total Messages</p>
        <p>Notifications Sent = Date + Time (HH:MM:SS) + Type
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card border-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Balance History</p>
        <p>Date + Time (HH:MM)</p>
        <p>GRX + GRY + GRZ</p>
      </div>
    </div>
  </div>
</div>

<div class="card border-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Region Time</p>
        <p>Region Time (Standard Time = UTC and Region User Option)</p>
      </div>
    </div>
  </div>
</div>

<div class="card border-0 mb-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Data Summary Frequency</p>
        <p class="mb-0">Sent Off/Daily/Weekly/Monthly.</p>
        <p class="lead">Report type</p>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="walletBalance">
            <label class="form-check-label" for="walletBalance">Wallet Balance</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="accountValue">
            <label class="form-check-label" for="accountValue">Account Value</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="accountProfit">
            <label class="form-check-label" for="accountProfit">Account Profit</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="openPosition">
            <label class="form-check-label" for="openPosition">Open position</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
