.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.col-md-12 {
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.card-body {
  border-radius: 4px!important;
}

.card {
  background-color: #636fa4 !important;
}

@keyframes check {0% {height: 0;width: 0;}
  25% {height: 0;width: 5px;}
  50% {height: 15px;width: 5px;}
}
.checkbox {
  background-color:white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display:inline-block;
  height:14px;
  margin:0 .25em;
  width:14px;
  border:1px solid #000;
  float:right
}

.checkbox span{display:block;height:14px;position:relative;width:14px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:2px solid transparent;border-top:2px solid transparent;content:'';display:block;height:15px;left:2px;position:absolute;top:6px;width:5px}
.checkbox span:hover:after{border-color:#999}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#40278C}
.checkbox input:checked + .default:after{border-color:#40278C}

::ng-deep .btn-link {
  color: #40278C!important;
}

::ng-deep .form-control {
  background: transparent!important;
  color: #fff!important;
}

select:focus::-ms-value {
  color: white!important;
  background-image: linear-gradient(to right, #636fa4, #e8cbc0) !important;
}

.report-time {
  margin-bottom: 0.55rem!important;
}

.region-time {
  margin-top: 2.4rem!important;;
}

.cont {
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio {
  position: absolute;
  top: 4px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 50%;
}

.cont:hover input ~ .radio {
  background-color: #ccc;
}

.cont input:checked ~ .radio {
  background-color: white;
  border: 1px solid #40278C;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .radio:after {
  display: block;
}

.cont .radio:after {
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #40278C;
}
