<app-jw-modal id="unread-gry1-notifications">
  <div class="card border-0">
    <div class="card-body gradient-box">
      <div class="row">
        <div class="col-7 font-weight-bolder">
          Unread GRY | 1 Notifications
        </div>
        <div class="col-4 align-self-center text-right">
          <a href="javascript:void(0)" class="navy-span">
            <fa-icon [icon]="faBell" size="lg"></fa-icon>
            <span class="badge bg-yellow text-light badge-number">
              {{notificationsService.numberOfGRY1Notifications}}
            </span>
          </a>
        </div>
        <div class="col-1" (click)="closePopup('unread-gry1-notifications')">
          <fa-icon style="color: #40278C;" [icon]="faTimes"></fa-icon>
        </div>
      </div>
      <div class="row my-3">
        <div class="col search" style="border-color:#40278C!important;border-left:0!important;">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important">
              <span class="input-group-append">
                <div class="input-group-text bg-transparent">
                  <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
                </div>
              </span>
          </div>
        </div>
      </div>
      <div class="mobile-system-nots" style="overflow-y: scroll; height:440px;overflow-x: hidden">
        <ng-container *ngFor="let notification of gry1notifications">
          <app-algo-notification-item
            (markAsRead)="markGRY1NotificationAsRead(notification)"
            [notification]="notification">
          </app-algo-notification-item>
        </ng-container>
        <p class="text-center mb-0" *ngIf="gry1notifications.length === 0">
          There are no unread GRY1 notifications.
        </p>
      </div>
    </div>
  </div>
</app-jw-modal>

<app-jw-modal id="unread-gry2-notifications">
  <div class="card border-0">
    <div class="card-body gradient-box">
      <div class="row">
        <div class="col-7 font-weight-bolder">
          Unread GRY | 2 Notifications
        </div>
        <div class="col-4 align-self-center text-right">
          <a href="javascript:void(0)" class="navy-span">
            <fa-icon [icon]="faBell" size="lg"></fa-icon>
            <span class="badge bg-yellow text-light badge-number">
              {{notificationsService.numberOfGRY2Notifications}}
            </span>
          </a>
        </div>
        <div class="col-1" (click)="closePopup('unread-gry2-notifications')">
          <fa-icon style="color: #40278C;" [icon]="faTimes"></fa-icon>
        </div>
      </div>
      <div class="row my-3">
        <div class="col search" style="border-color:#40278C!important;border-left:0!important;">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important">
            <span class="input-group-append">
                <div class="input-group-text bg-transparent">
                  <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
                </div>
              </span>
          </div>
        </div>
      </div>
      <div class="mobile-system-nots" style="overflow-y: scroll; height:440px;overflow-x: hidden">
        <ng-container *ngFor="let notification of gry2notifications">
          <app-algo-notification-item
            (markAsRead)="markGRY2NotificationAsRead(notification)"
            [notification]="notification">
          </app-algo-notification-item>
        </ng-container>
        <p class="text-center mb-0" *ngIf="gry2notifications.length === 0">
          There are no unread GRY2 notifications.
        </p>
      </div>
    </div>
  </div>
</app-jw-modal>

<app-jw-modal id="unread-gry3-notifications">
  <div class="card border-0">
    <div class="card-body gradient-box">
      <div class="row">
        <div class="col-7 font-weight-bolder">
          Unread GRY | 3 Notifications
        </div>
        <div class="col-4 align-self-center text-right">
          <a href="javascript:void(0)" class="navy-span" style="margin-right: 15px">
            <fa-icon [icon]="faBell" size="lg"></fa-icon>
            <span class="badge bg-yellow text-light badge-number">
              {{notificationsService.numberOfGRY3Notifications}}
            </span>
          </a>
        </div>
        <div class="col-1" (click)="closePopup('unread-gry3-notifications')">
          <fa-icon style="color: #40278C;" [icon]="faTimes"></fa-icon>
        </div>
      </div>
      <div class="row my-3">
        <div class="col search" style="border-color:#40278C!important;border-left:0!important;">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important">
            <span class="input-group-append">
                <div class="input-group-text bg-transparent">
                  <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
                </div>
              </span>
          </div>
        </div>
      </div>
      <div class="mobile-system-nots" style="overflow-y: scroll; height:440px;overflow-x: hidden">
        <ng-container *ngFor="let notification of gry3notifications">
          <app-algo-notification-item
            (markAsRead)="markGRY3NotificationAsRead(notification)"
            [notification]="notification">
          </app-algo-notification-item>
        </ng-container>
        <p class="text-center mb-0" *ngIf="gry3notifications.length === 0">
          There are no unread GRY3 notifications.
        </p>
      </div>
    </div>
  </div>
</app-jw-modal>

<app-jw-modal id="unread-grz-notifications">
  <div class="card border-0">
    <div class="card-body gradient-box">
      <div class="row">
        <div class="col-7 font-weight-bolder">
          Unread GRZ Notifications
        </div>
        <div class="col-4 align-self-center text-right">
          <a href="javascript:void(0)" class="navy-span">
            <fa-icon [icon]="faBell" size="lg"></fa-icon>
            <span class="badge bg-yellow text-light badge-number">
              {{notificationsService.numberOfGRZNotifications}}
            </span>
          </a>
        </div>
        <div class="col-1" (click)="closePopup('unread-grz-notifications')">
          <fa-icon style="color: #40278C;" [icon]="faTimes"></fa-icon>
        </div>
      </div>
      <div class="row my-3">
        <div class="col search" style="border-color:#40278C!important;border-left:0!important;">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important">
            <span class="input-group-append">
                <div class="input-group-text bg-transparent">
                  <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
                </div>
              </span>
          </div>
        </div>
      </div>
      <div style="overflow-y: scroll; height:440px;overflow-x: hidden" class="mobile-system-nots">
        <ng-container *ngFor="let notification of grznotifications">
          <app-algo-notification-item
            (markAsRead)="markGRZNotificationAsRead(notification)"
            [notification]="notification">
          </app-algo-notification-item>
        </ng-container>
        <p class="text-center mb-0" *ngIf="grznotifications.length === 0">
          There are no unread GRZ notifications.
        </p>
      </div>
    </div>
  </div>
</app-jw-modal>


