<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header text-center">
        <img class="img img-fluid logo" src="../../assets/images/logo.png" alt="Logo">
        <h4 class="text-light">Sign in to GRAYLL</h4>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                  <fa-icon [icon]="userIcon"></fa-icon>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Email">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="keyIcon"></fa-icon>
              </span>
            </div>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group mb-0">
            <input value="Login" class="btn btn-block login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a class="text-light" href="javascript:void(0)">Forgot your password?</a>
        </div>
        <div class="d-flex justify-content-center">
          <a class="text-light" href="javascript:void(0)">Don't have an account?</a>
        </div>
      </div>
    </div>
  </div>
</div>
