.qr-code-img {
  width: 70px;
  height: 70px;
  margin-top: 5px;
}

.disabled-field {
  color: #f8f9fa!important;
  -webkit-text-fill-color: #f8f9fa;
  opacity: 1; /* required on iOS */
}

@media (max-width: 420px) {
  .center-mobile {
    display: contents!important;
    text-align: center!important;
  }
}
