<div class="card border-0 h-100">
  <div class="card-body bg-pink">
    <div class="row mt-4">
      <div class="bottom-border-navy-animated col-12" routerLink="/system/overview">
        <div class="w-auto c-cost text-left">
          <div class="d-inline-block align-middle mr-1 text-purple">
            <fa-icon [icon]="faChartLine" size="3x" fixedWidth></fa-icon>
          </div>
          <div class="d-inline-block text-white align-middle">
            <span class="text-light font-16">Algo System Balance</span>
            <h5 class="text-light font-weight-bolder">$1,000,000,000,00</h5>
          </div>
        </div>
        <div class="row" style="margin-top: 4px">
          <div class="col-sm-12 col-md-6 mt-4">
            <i class="text-yellow font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-white"> 25% GRX</span>
            <br>
            <h5 class="font-weight-bolder text-white">
              $1,000,000,000,00
            </h5>
          </div>
          <div class="col-sm-12 col-md-6 mt-4">
            <i class="m-r-5 text-white font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-white"> 75% XLM</span>
            <br>
            <h5 class="m-b-0 font-weight-bolder text-white">
              $1,000,000,000,00
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <button type="button" routerLink="/system/overview" class="text-light btn bg-purple mt-3">Open</button>
      </div>
      <div class="col-sm-12 col-md-6">
        <button type="button" routerLink="/system/overview" class="text-light btn bg-purple mt-3">Close</button>
      </div>
    </div>
    <!---<ngb-tabset type="pills" class="custom-pills">
      <ngb-tab title="Buy">
        <ng-template ngbTabContent>
          <form class="mt-2">
            <div class="form-group">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-purple">
                    <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYYL Logo">
                  </span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control form-control-no-border bg-purple" placeholder="GRX Amount">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                  <span class="text-yellow input-group-text bg-purple dollar-padding">$</span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control form-control-no-border bg-purple" placeholder="USD Value">
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="text-light btn bg-purple">Buy GRX</button>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sell">
        <ng-template ngbTabContent>
          <form class="mt-2">
            <div class="form-group">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-purple">
                    <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYYL Logo">
                  </span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control form-control-no-border bg-purple" placeholder="GRX Amount">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg fixed-input-height">
                <div class="input-group-prepend">
                  <span class="text-yellow input-group-text bg-purple dollar-padding">$</span>
                </div>
                <input type="text" class="fixed-input-height text-light form-control form-control-no-border bg-purple" placeholder="USD Value">
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="text-light btn bg-purple">Sell GRX</button>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <div class="row">
        <div class="w-auto c-cost text-center">

        </div>
    </div>--->
  </div>
</div>
