<div class="card border-0 h-100">
  <div class="card-body bg-pink pb-0" data-intercom-target="Algo System Balance">
    <div class="row">
      <div class="bottom-border-navy-animated col-12" routerLink="/system/overview" style="outline: none!important">
        <div class="w-auto c-cost text-left">
          <div class="d-inline-block align-middle mr-2 text-yellow">
            <fa-icon [icon]="faChartLine" size="3x" fixedWidth></fa-icon>
          </div>
          <div class="d-inline-block text-white align-middle">
            <span class="text-light font-16">Algo System Balance</span>
            <h5 class="text-light font-weight-bolder">$1,000,000,000,00</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 mt-4">
            <i class="text-yellow font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-white"> 25% GRX</span>
            <br>
            <p class="font-weight-bolder p-font text-white">
              $1,000,000,000.00
            </p>
          </div>
          <div class="col-6 mt-4 text-right">
            <i class="m-r-5 text-white font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-white"> 75% XLM</span>
            <br>
            <p class="m-b-0 font-weight-bolder p-font text-white">
              $1,000,000,000.00
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 mt-2">
        <button type="button" routerLink="/system/overview" class="text-light btn btn-gold mt-2">Open</button>
      </div>
      <div class="col-6 mt-2 text-right">
        <button type="button" routerLink="/system/overview" class="text-light btn btn-gold mt-2">Close</button>
      </div>
    </div>
  </div>
</div>
