<div class="card border-0 h-100">
  <div class="card-body bg-white pb-0" data-intercom-target="Algo System Balance">
    <div class="row">
      <div class="bottom-border-navy-animated col-12" routerLink="/system/overview" style="outline: none!important">
        <div class="w-auto c-cost text-left">
          <div class="d-inline-block align-middle mr-2 text-purple">
            <fa-icon [icon]="faChartLine" size="3x" fixedWidth></fa-icon>
          </div>
          <div class="d-inline-block text-purple align-middle">
            <span class="text-purple font-16">System Balance</span>
            <h5 class="text-purple font-weight-bolder">$1,000,000,000,00</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 mt-4">
            <i class="text-yellow font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-purple"> 25% GLP1</span>
            <br>
            <p class="font-weight-bolder p-font text-purple">
              $1,000,000,000.00
            </p>
          </div>
          <div class="col-6 mt-4 text-right">
            <i class="m-r-5 text-blue font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-purple"> 75% GETP1</span>
            <br>
            <p class="m-b-0 font-weight-bolder p-font text-purple">
              $1,000,000,000.00
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mt-3">
            <i class="text-darkblue font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-purple"> 25% 2LYF</span>
            <br>
            <p class="font-weight-bolder p-font text-purple">
              $1,000,000,000.00
            </p>
          </div>
          <div class="col-6 mt-3 text-right">
            <i class="m-r-5 text-palepink font-16">
              <fa-icon [icon]="faCircle"></fa-icon>
            </i>
            <span class="font-16 text-purple"> 25% DX2Y</span>
            <br>
            <p class="m-b-0 font-weight-bolder p-font text-purple">
              $1,000,000,000.00
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 mt-2">
        <button type="button" routerLink="/system/overview" class="text-light btn btn-purple mt-2">Open</button>
      </div>
      <div class="col-6 mt-2 text-right">
        <button type="button" routerLink="/system/overview" class="text-light btn btn-purple mt-2">Close</button>
      </div>
    </div>
  </div>
</div>
