<div class="card border-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">General Notifications</p>
        <p>Important updates from GRAYLL delivered via App notifications.</p>
      </div>
      <div *ngIf="!isGeneralEnabled" class="col d-flex justify-content-center align-items-center">
        <button (click)="toggleGeneral()" class="btn btn-purple text-center">Enable</button>
      </div>
      <div *ngIf="isGeneralEnabled" class="col d-flex justify-content-center align-items-center">
        <button (click)="toggleGeneral()" class="btn btn-yellow text-center">Disable</button>
      </div>
    </div>
  </div>
</div>

<div class="card border-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Wallet Notifications</p>
        <p class="mb-0">Transaction and balance updates delivered via App notifications.</p>
        <p class="font-italic font-weight-bolder">For your own security we recommend to keep your wallet notifications enabled.</p>
      </div>
      <div *ngIf="!isWalletEnabled" class="col d-flex justify-content-center align-items-center">
        <button (click)="enableWalletNotifications()" class="btn btn-purple text-center">Enable</button>
      </div>
      <div *ngIf="isWalletEnabled" class="col d-flex justify-content-center align-items-center">
        <button [routerLink]="[{outlets: {popup: 'disable-wallet-notifications-settings'}}]" class="btn btn-yellow text-center">Disable</button>
      </div>
    </div>
  </div>
</div>

<div class="card border-0 mb-0">
  <div class="card-body bg-gradient text-light">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Algo System Notifications</p>
        <p class="mb-0">Algorithmic positions, transactions, performance updates and actionable alerts from the GRAYLL Algorithmic
          System delivered via App notifications.</p>
        <p class="font-italic font-weight-bolder">To avoid loss of value we recommend to <span class="text-purple">never disable</span> these notifications.</p>
      </div>
      <div *ngIf="!isAlgoEnabled" class="col d-flex justify-content-center align-items-center">
        <button (click)="enableAlgoNotifications()" class="btn btn-purple text-center">Enable</button>
      </div>
      <div *ngIf="isAlgoEnabled" class="col d-flex justify-content-center align-items-center">
        <button [routerLink]="[{outlets: {popup: 'disable-algo-notifications-settings'}}]" class="btn btn-yellow text-center">Disable</button>
      </div>
    </div>
  </div>
</div>
