<div class="row px-3 py-3 mb-1" [style.background-color]="!notification.isRead ? '#40278c' : 'transparent'">
  <div class="col-1">
    <img class="small-grayll-icon" src="assets/images/logo.png" alt="GRAYLL Logo">
  </div>
  <div class="col-11">
    <div class="row mt-1">
      <div class="col">
        <h6 class="font-weight-bolder">{{notification.subject}}</h6>
      </div>
      <div class="col text-right font-12">
        {{notification.datetime | date: 'HH:MM | dd/MM/yyyy'}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-10">
            Notification Subject
          </div>
          <div class="col text-right hover" (click)="expandNotification()">
            <fa-icon [attr.aria-expanded]="!isContentCollapsed" aria-controls="collapsedContent" [icon]="faExpand"></fa-icon>
          </div>
        </div>
        <div id="collapsedContent" [ngbCollapse]="isContentCollapsed">
          Notification Content
        </div>
        <p class="font-12 mb-0">
          <a href="javascript:void(0)" class="white-link" (click)="goTo('/system/activity')">
            Position ID | {{notification.positionId}}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
