<div class="row">
  <div class="col-sm-12">
    <div class="card main-chart border-0">
      <div class="card-body" data-intercom-target="Main Chart">
        <div class="d-md-flex align-items-center mb-3">
          <div class="col-lg-4 col-md-12">
            <h6 class="card-title">GRY | GRQ | BTC</h6>
            <h6 class="card-subtitle text-purple">GRAYLL Perfomance</h6>
          </div>
          <div class="col-lg-4 col-md-12 text-lg-center text-md-center text-sm-left text-xs-left align-self-center">
            <h6 class="mt-2">00:00 | 20 MAR 2022</h6>
          </div>
          <div class="col-lg-2 col-md-12 align-self-center">
            <button class="btn btn-purple btn-sm" (click)="scrollToOpenAlgoPositionForm()"
              data-intercom-target="Open Algo Position">Open ETP Position</button>
          </div>
          <br class="d-md-none">
          <div class="col-lg-2 col-md-12 align-self-center">
            <ng-select [items]="timespanFilter" [searchable]="false" [clearable]="false" bindLabel="name"
              [(ngModel)]="selectedTimespan" data-intercom-target="Select time">
            </ng-select>
          </div>
        </div>

        <!-- Chart -->
        <div id="main-chart-graph"></div>
      </div>
    </div>
  </div>
</div>
