.main-chart {
  background-image: linear-gradient(to right, #636fa4, #e8cbc0);
  color: #fff;
  border-radius: 4px!important;
}

#main-chart-graph {
  height: 350px;
  max-height: 350px;
  position: relative;
}

::ng-deep .c3-axis-y text {
  fill: white;
  font-size:12px;
}

::ng-deep .c3 path {
  stroke: #6c757d;
}

::ng-deep .c3 line {
  stroke: #6c757d;
}

::ng-deep .ng-select {
  float: right!important;
}

::ng-deep .ng-option {
  color: white!important;
  background-color: #40278C!important;
  height: 36px!important;
  width: 100px!important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #e8cbc0!important;
  color: #40278C!important;
  height: 36px!important;
  width: 100px!important;
}

::ng-deep .ng-select {
  color: white!important;
  height: 36px!important;
  width: 100px!important;
}

::ng-deep .ng-select-container {
  background-color: #40278C!important;
  color: white!important;
  height: 36px!important;
  width: 100px!important;
  border-radius: 4px!important;
  border: 0!important;
}
