<div class="row">
  <div class="col-sm-12">
    <div class="card main-chart border-0">
      <div class="card-body">
        <div class="d-md-flex align-items-center">
          <div class="col-md-4">
            <h6 class="card-title">GRX / GRY / GRZ</h6>
            <h6 class="card-subtitle text-light">Overview of GRAYLL Perfomance</h6>
          </div>
          <div class="col-md-4 text-center">
            <h6 class="text-center">00:00 | 12 JUL 2019</h6>
          </div>
          <div class="col text-right">
            <select>
              <option>Monthly</option>
              <option>Daily</option>
              <option>Weekly</option>
              <option>Yearly</option>
            </select>
          </div>
        </div>

        <!-- Chart -->
        <div id="main-chart-graph"></div>
      </div>
    </div>
  </div>
</div>
