<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="card border-0">
      <div class="card-body bg-gradient text-light">
        <div class="row">
          <div class="col">
            <p class="lead font-weight-bolder">General GRAYLL Profile</p>
            <p class="lead mb-0"><strong>Federation</strong> Address (Payment Alias)</p>
            <p>Your federation address is your payment alias so people can send you assets more easily.</p>

            <div class="row">
              <div class="col-md-7 col-sm-12 text-center">
                <input disabled [value]="federationAddress" type="text" class="form-control bg-transparent text-light">
              </div>
              <div class="col-md-3 col-sm-12 mt-xs-4 mt-xs-4">
                <button (click)="copyFederationAddress()" class="btn btn-block btn-yellow">Copy Address</button>
              </div>
            </div>

            <button [routerLink]="[{outlets: {popup: 'edit-federation-address'}}]"
                    class="btn btn-purple mt-3 mb-2">Edit Federation Address</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-0">
      <div class="card-body bg-gradient text-light">
        <div class="row">
          <div class="col">
            <p class="lead mb-0"><strong>Stellar Address</strong> (Public Key)</p>
            <p>The Stellar wallet address is the public key associated with this account.</p>

            <div class="row">
              <div class="col-md-7 col-sm-12 text-center">
                <input disabled [value]="stellarAddress" type="text" class="form-control">
              </div>
              <div class="col-md-3 col-sm-12 mt-xs-4 mt-xs-4">
                <button (click)="copyStellarAddress()" class="btn btn-block btn-yellow">Copy Address</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="card border-0 mb-0">
      <div class="card-body bg-gradient text-light">
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" placeholder="">
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" placeholder="">
              </div>
              <div class="form-group">
                <label for="email">Account Email</label>
                <a href="javascript:void(0)" class="float-right text-purple">Change Email</a>
                <span class="badge float-right text-light bg-yellow mr-1" style="line-height: normal">
                  <fa-icon [icon]="faCheck"></fa-icon>
                  Verified
                </span>
                <span class="badge float-right bg-danger mr-1" style="line-height: normal">
                  <fa-icon [icon]="faExclamation"></fa-icon>
                  Unverified
                </span>
                <input type="email" class="form-control" id="email" placeholder="hello@grayll.io">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <a href="javascript:void(0)" class="float-right text-purple">Change Password</a>
                <input type="password" class="form-control" id="password" placeholder="********">
              </div>
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <a href="javascript:void(0)" class="float-right text-purple">Phone Number</a>
                <input type="text" class="form-control" id="phone" placeholder="Not set">
              </div>
              <button type="submit" class="btn btn-purple">Save Changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
