<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Review Action"></app-popup-header>
  <div class="modal-body">
    <p class="text-purple lead">Close All Open Algorithmic Positions</p>
    <div class="row my-2 d-flex align-items-center justify-content-center">
      <div class="col">
        <p class="text-purple">
          Please review and confirm this action to close all your open algorithmic positions in the GRAYLL System.
          You may also close open algorithmic positions individually by performing the close action for any open position.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <a href="javascript:void(0)" class="btn btn-outline-secondary" (click)="popupService.close()">
          Cancel
        </a>
      </div>
      <div class="col">
        <a (click)="popupService.close()" href="javascript:void(0)" class="btn btn-purple">
          Confirm
        </a>
      </div>
    </div>
  </div>
</ng-template>
