.purple-link {
    color: #40278C!important;
  }
  
  .purple-link:hover {
    color: #40278C!important;
    cursor: pointer!important;
  }

  .gold-link {
    color: #CFA256 !important;
  }
  
  .gold-link:hover {
    color: #AC7F31!important;
    cursor: pointer!important;
  }
  
  .cancel:hover {
    cursor: pointer;
  }
  
  .pull-top {
    margin-top: -4px!important;
  }
  
  input{
    border:none;
    background-color: transparent;
  }

  th {
    white-space: nowrap;
    padding: 10px!important;
  }

  td {
    text-overflow: ellipsis!important;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px!important;
  }
  
  fa-icon:hover {
    cursor: pointer!important;
  }
  
  .search .input-group-text {
    border-color: #40278C;
    border-left: 0;
  }
  
  :host ::ng-deep .nav-pills {
    .nav-link {
      border-radius: 0;
      opacity: 0.7;
      font-size: 0.9rem;
      color: #40278C!important;
      border-bottom: 2px solid transparent!important;
  
      &.active {
        opacity: 1;
        background-color: transparent;
        border-bottom: 2px solid #40278C!important;
      }
    }
  }
  
  :host ::ng-deep ul.nav-pills {
    justify-content: center!important;
    // flex-wrap: nowrap;
  }
  
  table, thead, tbody {
    overflow-x: hidden;
  }
  
  tbody {
    display: block;
    height: 20rem;
    overflow: hidden scroll;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    width: auto;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  