<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Authorize | Reveal Secret Key"></app-popup-header>
  <div class="modal-body">

    <app-error></app-error>

    <div class="row mb-1">
      <div class="col-12" *ngIf="!didContinue">
        <p class="text-purple font-16 mb-0">You have requested a secret key of your GRAYLL account.</p>
        <p class="text-purple font-16 mb-0">
          Please keep your Secret Key safe and do not share it with anyone.
          Your Secret Key gives direct access to your assets.
        </p>
        <br>
        <p class="text-purple font-16 mb-0">We recommend to not use this function if you do not need to.</p>
      </div>
      <div class="col-12 text-center" *ngIf="didContinue">
        <p class="text-purple font-16">
          To reveal your Secret Key, please enter your {{verifyingBy2FA ? '2FA Code' : 'password'}}.
        </p>
        <input type="text" class="form-control mx-auto w-75" [(ngModel)]="code"
               [placeholder]="verifyingBy2FA ? '2 Factor Authentication Code' : 'Password'">
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="row text-center" style="display: contents!important;">
      <div class="col">
        <button class="btn btn-purple" (click)="didContinue = true" *ngIf="!didContinue">Continue</button>
        <button class="btn btn-purple" (click)="submit()" *ngIf="didContinue">Reveal</button>
      </div>
    </div>
  </div>
</ng-template>
