<router-outlet name="popup"></router-outlet>
<app-navbar></app-navbar>

<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="container-fluid pt-0">

      <div *ngIf="!sharedService.getIsLoanPaid(); else loanPaid">
        <!-- Display on mobile -->
        <div class="alert justify-content-between alert-warning d-lg-none loan-unpaid-mobile" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Please click the button "Pay Off Loan" to return the 1.50 NEAR loan to GRAYLL.
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'near-loan'}}]">Pay Off Loan</button>
        </div>

        <h4 class="text-light pb-1 page-title">
          Wallet
        </h4>

        <!-- Display on larger devices -->
        <div class="alert alert-warning loan-unpaid justify-content-between d-none d-lg-flex" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Please click the button "Pay Off Loan" to return the 1.50 NEAR loan to GRAYLL.
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'near-loan'}}]">Pay Off Loan</button>
        </div>
      </div>

      <ng-template #loanPaid>
        <h4 class="text-light pt-3 pb-1">
          Wallet
        </h4>
      </ng-template>

      <div style="clear:both"></div>

      <app-wallet-stats></app-wallet-stats>

      <br>

      <app-account-activity [showAllCompletedOrders]="true" [showMoreDetails]="true"  data-intercom-target="App Account Activity"></app-account-activity>

    </div>
  </div>
</div>
