<router-outlet name="popup"></router-outlet>
<div class="bg-white text-purple" id="systemActivityTable">
    <div class="row align-items-center justify-content-center p-2">
        <div class="col">
            <span class="lead align-middle">Activity</span>
        </div>
        <div class="col-xs-12 col-md-6 justify-content-center align-items-center" *ngIf="selectedTab">
            <ngb-tabset type="pills" class="custom-pills" (tabChange)="onTabChange($event.nextId)" [activeId]="selectedTab.id">
                <ng-container *ngFor="let tab of activityTabs">
                    <ngb-tab [id]="tab.id" [title]="tab.name"></ngb-tab>
                </ng-container>
            </ngb-tabset>
        </div>
        <div class="col text-center" data-intercom-target="Download Activity History">
            <hr class="mt-0 d-sm-none">
            <a class="gold-link" (click)="DownloadPdf()">
                <fa-icon [icon]="faDownload" [fixedWidth]="true"></fa-icon>
                Download Activity History
            </a>
        </div>
    </div>

    <hr class="mt-0 mb-0">
</div>

<div class="bg-white text-purple" *ngIf="selectedTab && (selectedTab.id === 'openAlgoPositions' || selectedTab.id === 'allAlgoPositions')">
    <div class="row justify-content-center align-items-center mb-1 p-2">
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12" data-intercom-target="Open Algo Positions">
            <span class="align-middle font-weight-bolder font-14">Open DeFi Positions (1)</span>
        </div>
        <!-- <div class="col" [routerLink]="['/system/overview', {outlets: {popup: 'cancel-algo-positions'}}]" style="outline: none;">
            <fa-icon [icon]="faClose" class="text-danger cancel"></fa-icon>
            <span class="ml-1 cancel text-danger">Close All Algo Positions</span>
        </div> -->
        <div id="algoDropdown" class="col-md-4 col-sm-4 col-lg-4 col-xs-12" data-intercom-target="Close All Algo Positions Select">
            <div class="row">
                <div class="" style="width: 75%;padding-left: 10px;padding-right: 5px;">
                    <ng-select [items]="dropdownItems" [searchable]="false" [clearable]="false" [(ngModel)]="algoName">
                    </ng-select>
                </div>
                <div class="" style="width: 25%;padding-right: 10px;">
                    <button class="btn btn-purple submit-btn" [routerLink]="['/system/overview', {outlets: {popup: 'cancel-algo-positions/' + algoName}}]">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" data-intercom-target="Search Input">
            <div class="row ">
                <div class="col search ">
                    <div class="input-group ">
                        <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-purple " type="search " style="border-color: #40278C!important " [formControl]="searchControl ">
                        <span class="input-group-append ">
              <div class="input-group-text bg-transparent ">
                <fa-icon style="color: #40278C " [icon]="faSearch "></fa-icon>
              </div>
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-none d-md-block "></div>
    </div>
</div>

<div class="table-responsive bg-white text-purple pull-top " *ngIf="selectedTab && (selectedTab.id==='openAlgoPositions' || selectedTab.id==='allAlgoPositions' ) ">
    <table class="table mb-0 ">
        <thead data-intercom-target="Table head">
            <tr class="font-weight-bolder font-10 text-purple ">
                <th class="width-91px " data-intercom-target="Open date">Open Date</th>
                <th class="width-51px " data-intercom-target="Status">Status</th>
                <th class="width-71px " data-intercom-target="Duration">Duration</th>
                <th class="width-61px " data-intercom-target="Algorithm">Service</th>
                <th class="width-73px " data-intercom-target="Price(GRX)">Price (GRX)</th>
                <th class="width-73px " data-intercom-target="Price(USD)">Price (USD)</th>
                <th (click)="sortByPositionValue() " class="cancel width-91px " data-intercom-target="Position Value">
                    Position Value
                    <br> (USD)
                    <fa-icon [icon]="faSortByPositionValue " style="color: #40278C; "></fa-icon>
                </th>
                <th (click)="sortByPositionProfit() " class="cancel width-91px " data-intercom-target="Position Profit">
                    Position Profit
                    <br> (USD)
                    <fa-icon [icon]="faSortByPositionProfit " style="color: #40278C; "></fa-icon>
                </th>
                <th (click)="sortByROI() " class="cancel width-51px " data-intercom-target="ROI">
                    ROI
                    <fa-icon [icon]="faSortByROI " style="color: #40278C; "></fa-icon>
                </th>
                <th class="width-101px " data-intercom-target="Grayll Transaction ID">GRAYLL <br> Transaction ID</th>
                <th class="width-101px " data-intercom-target="Stellar Transaction ID">Stellar <br> Transaction ID</th>
                <th class="width-41px " data-intercom-target="Info">Info</th>
                <th class="width-61px " data-intercom-target="Actions">Actions</th>
            </tr>
        </thead>

        <tbody class="font-8 text-purple " infiniteScroll [infiniteScrollDistance]=".1 " [infiniteScrollThrottle]="50 " (scrolled)="onScroll() " [scrollWindow]="false ">
            <div class="right-arrow-mobile-scroll-indicator-div d-sm-none ">
                <img class="right-arrow-mobile-scroll-indicator-img " src="assets/images/right-chevron.png " alt="Scroll right for more ">
            </div>
            <tr *ngFor="let position of searchControl.value?searchResult.openAlgoPositions:openAlgoPositions ">
                <td class="width-91px ">{{position.openDate}}</td>
                <td class="width-51px ">{{position.status}}</td>
                <td class="width-71px ">
                    <countdown [config]="getCountdownConfigFor(position.duration) "></countdown>
                </td>
                <td class="width-61px ">{{position.algorithm}}</td>
                <td class="width-73px ">{{position.priceGRX}}</td>
                <td class="width-73px ">{{position.priceUSD}}</td>
                <td class="width-91px ">{{position.positionValueUSD}}</td>
                <td class="width-91px ">{{position.positionProfitUSD}}</td>
                <td class="width-51px ">{{position.roi}}%</td>
                <td class="width-101px ">{{position.grayllTransactionId}}</td>
                <td class="width-101px ">{{position.stellarTransactionId}}</td>
                <td class="text-center width-41px ">
                    <a href="https://stellar.expert/explorer/public " target="_blank ">
                        <fa-icon [icon]="faInfo " class="gold-link cancel "></fa-icon>
                    </a>
                </td>
                <td class="width-61px ">
                    <a href="javascript:void(0) " class="purple-link ">
                        <fa-icon [icon]="faClose " class="text-danger cancel "></fa-icon>
                        <span class="ml-1 cancel text-danger ">Close</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="bg-white text-purple " *ngIf="selectedTab ">
    <div class="row justify-content-center align-items-center mb-1 p-2 pt-4 " *ngIf="selectedTab.id==='closedAlgoPositions' || selectedTab.id==='allAlgoPositions' ">
        <hr class="m-0 py-2 w-100 " style="border-color: #fff; ">
        <div class="col-md-2 col-xs ">
            <span class="align-middle font-14 font-weight-bolder ">Closed DeFi Positions (10)</span><br>
            <span class="text-purple font-10 font-weight-bolder ">Most Recent Closed Positions</span>
        </div>
        <div class="col ">
            <a href="javascript:void(0) " class="gold-link font-14 " *ngIf="showCompletedOrdersLink " routerLink="/data/overview/system-activity/closed-algo-positions ">
        All Closed DeFi Positions
      </a>
        </div>
        <div class="col ">
            <div class="row ">
                <div class="col search ">
                    <div class="input-group ">
                        <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-purple " type="search " style="border-color: #40278C!important " [formControl]="searchControl2 ">
                        <span class="input-group-append ">
              <div class="input-group-text bg-transparent ">
                <fa-icon style="color: #40278C " [icon]="faSearch "></fa-icon>
              </div>
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-none d-md-block "></div>
    </div>
</div>

<div class="table-responsive bg-white text-purple pull-top " *ngIf="selectedTab && (selectedTab.id==='closedAlgoPositions' || selectedTab.id==='allAlgoPositions' ) ">
    <table class="table mb-0 ">
        <thead>
            <tr class="font-weight-bolder font-10 text-purple ">
                <th class="width-91px ">Open Date</th>
                <th class="width-51px ">Status</th>
                <th class="width-71px ">Duration</th>
                <th class="width-61px ">Algorithm</th>
                <th class="width-73px ">Price (GRX)</th>
                <th class="width-73px ">Price (USD)</th>
                <th (click)="sortByPositionValue() " class="cancel width-91px ">
                    Position Value <br> (USD)
                    <fa-icon [icon]="faSortByPositionValue " style="color: #40278C; "></fa-icon>
                </th>
                <th (click)="sortByPositionProfit() " class="cancel width-91px ">
                    Position Profit <br> (USD)
                    <fa-icon [icon]="faSortByPositionProfit " style="color: #40278C; "></fa-icon>
                </th>
                <th (click)="sortByROI() " class="cancel width-51px ">
                    ROI
                    <fa-icon [icon]="faSortByROI " style="color: #40278C; "></fa-icon>
                </th>
                <th class="width-101px ">GRAYLL <br> Transaction ID</th>
                <th class="width-101px ">Stellar <br> Transaction ID</th>
                <th class="width-53px ">Actions</th>
            </tr>
        </thead>

        <tbody class="font-8 text-purple ">
            <div class="right-arrow-mobile-scroll-indicator-div d-sm-none ">
                <img class="right-arrow-mobile-scroll-indicator-img " src="assets/images/right-chevron.png " alt="Scroll right for more ">
            </div>
            <tr *ngFor="let position of searchControl2.value?searchResult.closeAlgoPositions:closeAlgoPositions ">
                <td class="width-91px ">{{position.openDate}}</td>
                <td class="width-51px ">CLOSED</td>
                <td class="width-71px ">
                    <countdown [config]="getCountdownConfigFor(position.duration) "></countdown>
                </td>
                <td class="width-61px ">{{position.algorithm}}</td>
                <td class="width-73px ">{{position.priceGRX}}</td>
                <td class="width-73px ">{{position.priceUSD}}</td>
                <td class="width-91px ">{{position.positionValueUSD}}</td>
                <td class="width-91px ">{{position.positionProfitUSD}}</td>
                <td class="width-51px ">{{position.roi}}%</td>
                <td class="width-101px ">{{position.grayllTransactionId}}</td>
                <td class="width-101px ">{{position.stellarTransactionId}}</td>
                <!-- <td class="width-101px ">0108181408618385411</td> -->
                <td class="width-53px "><a href="https://stellar.expert/explorer/public " target="_blank " class="gold-link ">Details</a></td>
            </tr>

            <tr>
                <td class="width-91px ">18/08/2019 04:14</td>
                <td class="width-51px ">CLOSED</td>
                <td class="width-71px ">23:59 | 12</td>
                <td class="width-61px ">GLP 1</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-91px ">2,110,000,000.55555</td>
                <td class="width-91px ">1,000,000,000.55555</td>
                <td class="width-51px ">110.22%</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-53px "><a href="https://stellar.expert/explorer/public " target="_blank " class="gold-link ">Details</a></td>
                </tr>

                <tr>
                <td class="width-91px ">18/08/2019 04:14</td>
                <td class="width-51px ">CLOSED</td>
                <td class="width-71px ">23:59 | 12</td>
                <td class="width-61px ">ETP 1</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-91px ">2,110,000,000.55555</td>
                <td class="width-91px ">1,000,000,000.55555</td>
                <td class="width-51px ">110.22%</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-53px "><a href="https://stellar.expert/explorer/public " target="_blank " class="gold-link ">Details</a></td>
                </tr>

                <tr>
                <td class="width-91px ">18/08/2019 04:14</td>
                <td class="width-51px ">CLOSED</td>
                <td class="width-71px ">23:59 | 12</td>
                <td class="width-61px ">ETP 1</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-91px ">2,110,000,000.55555</td>
                <td class="width-91px ">1,000,000,000.55555</td>
                <td class="width-51px ">110.22%</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-53px "><a href="https://stellar.expert/explorer/public " target="_blank " class="gold-link ">Details</a></td>
                </tr>

                <tr>
                <td class="width-91px ">18/08/2019 04:14</td>
                <td class="width-51px ">CLOSED</td>
                <td class="width-71px ">23:59 | 12</td>
                <td class="width-61px ">2LYF</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-91px ">2,110,000,000.55555</td>
                <td class="width-91px ">1,000,000,000.55555</td>
                <td class="width-51px ">110.22%</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-53px "><a href="https://stellar.expert/explorer/public " target="_blank " class="gold-link ">Details</a></td>
                </tr>

                <tr>
                <td class="width-91px ">18/08/2019 04:14</td>
                <td class="width-51px ">CLOSED</td>
                <td class="width-71px ">23:59 | 12</td>
                <td class="width-61px ">DX2Y</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-73px ">0.14500</td>
                <td class="width-91px ">2,110,000,000.55555</td>
                <td class="width-91px ">1,000,000,000.55555</td>
                <td class="width-51px ">110.22%</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-101px ">0108181408618385411</td>
                <td class="width-53px "><a href="https://stellar.expert/explorer/public " target="_blank " class="gold-link ">Details</a></td>
                </tr>
        </tbody>
    </table>
</div>
