<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="container-fluid">

      <h2 class="text-light pt-4 pb-1">
        <fa-icon [icon]="faChartLine" fixedWidth></fa-icon>
        Dashboard
      </h2>

      <!-- Top 3 boxes -->
      <app-header-boxes></app-header-boxes>
      <br>

      <!-- Large chart -->
      <app-main-chart></app-main-chart>
      <br>

      <!-- Amount boxes -->
      <app-info-boxes></app-info-boxes>
      <br>

      <!-- Wallet and Trade -->
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <app-wallet></app-wallet>
        </div>
        <div class="col-lg-4 col-sm-12">
          <app-trade></app-trade>
        </div>
      </div>
    </div>
  </div>
</div>
