<router-outlet name="popup"></router-outlet>

<app-navbar></app-navbar>

<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="container-fluid pt-0">

      <div *ngIf="!sharedService.getIsLoanPaid(); else loanPaid">
        <!-- Display on mobile -->
        <div class="alert justify-content-between alert-warning d-lg-none loan-unpaid-mobile" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Please click the button "Pay Off Loan" to return the 1.50 XLM loan to GRAYLL.
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'xlm-loan'}}]">Pay Off Loan</button>
        </div>

        <h4 class="text-light pb-1 page-title">
          Dashboard
        </h4>

        <!-- Display on larger devices -->
        <div class="alert alert-warning loan-unpaid justify-content-between d-none d-lg-flex" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Please click the button "Pay Off Loan" to return the 1.50 XLM loan to GRAYLL.
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'xlm-loan'}}]">Pay Off Loan</button>
        </div>
      </div>

      <ng-template #loanPaid>
        <h4 class="text-light pt-3 pb-1">
          Dashboard
        </h4>
      </ng-template>
      
      <div style="clear:both"></div>

      <!-- Top 3 boxes -->
      <app-header-boxes></app-header-boxes>

      <!-- Large chart -->
      <app-main-chart></app-main-chart>

      <!-- Amount boxes -->
      <app-info-boxes></app-info-boxes>

      <!-- Wallet and Trade -->
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <app-wallet></app-wallet>
        </div>

        <div class="col-lg-4 col-sm-12">
          <app-trade></app-trade>
        </div>
      </div>
    </div>
  </div>
</div>
