<app-navbar></app-navbar>

<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="container-fluid pt-0">

      <div *ngIf="!sharedService.getIsLoanPaid(); else loanPaid">
        <!-- Display on mobile -->
        <div class="alert justify-content-between alert-warning d-lg-none loan-unpaid-mobile" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Please click the button "Pay Off Loan" to return the 1.50 XLM loan to GRAYLL.
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'xlm-loan'}}]">Pay Off Loan</button>
        </div>

        <h4 class="text-light pb-1 page-title">
          Data
        </h4>

        <!-- Display on larger devices -->
        <div class="alert alert-warning loan-unpaid justify-content-between d-none d-lg-flex" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Login Daily - View Video & Earn Credits to Participate as a CIRCLE Member
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'xlm-loan'}}]">View To Earn</button>
        </div>
      </div>

      <ng-template #loanPaid>
        <h4 class="text-light pt-3 pb-1">
          Data
        </h4>
      </ng-template>

      <div style="clear:both"></div>

      <!-- Top 3 boxes -->
      <app-data-header-boxes></app-data-header-boxes>
      <br class="d-none d-lg-block">
      <!-- Large chart -->
      <app-main-chart></app-main-chart>

      <div class="justify-content-center align-items-center" id="tabs">
        <ngb-tabset [activeId]="activeTabId">
          <ngb-tab title="GRAYLL System Activity" id="system-activity">
            <ng-template ngbTabContent>
              <app-activity [activeTabId]="activeSubTabId"></app-activity>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="GRAYLL Wallet Activity" id="wallet-activity">
            <ng-template ngbTabContent>
              <app-account-activity
                [scrollToCompletedOrders]="activeSubTabId !== 'transfers'"
                [activeTabId]="activeSubTabId">
              </app-account-activity>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
