.main-wrapper {
  width: 100%;
  overflow: hidden;
}

.page-wrapper {
  margin: 50px auto 0 auto;
  background-color: #303030;
}

.page-wrapper > .container-fluid {
  padding: 20px;
  min-height: calc(100vh - 100px);
}

.loan-unpaid {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 0.1rem 1.25rem;
  align-items: center;
}

.loan-unpaid-mobile {
  margin-top: calc(50px + 1rem);
  display: flex;
  align-items: center;
}

::ng-deep ul.nav-tabs {
  justify-content: center!important;
  border: 0;
}

::ng-deep .nav-tabs {
  .nav-link {
    opacity: 0.7;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    background-color: transparent ;

    &:hover {
      border-bottom: 1px solid #CFA256 ;
    }

    &.active {
      opacity: 1;
      color: #fff;
      background-color: #CFA256 !important;
      border-color: #e8cbc0;
      border-bottom: 0;
    }
  }
}

@media (min-width: 760px) {
  .page-wrapper {
    margin: 64px auto 0 auto;
    max-width: 1200px;
    position: relative;
  }

  .main-wrapper {
    background-color: #303030;
  }
}

@media (max-width: 480px) {
  ::ng-deep .nav-tabs {
    .nav-link {
      font-size: 0.7rem;
      text-align: left;
    }
  }
}

@media (min-width: 991px) {
  .page-title {
    float: left;
    padding-top: 1rem;
  }
}
