/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to right,#636fa4,#e8cbc0);
  font-family: 'Nunito', sans-serif !important;
}

h6 {
  font-size: 0.9rem!important;
}

.text-yellow {
  color: #CFA256;
}

.bg-purple {
  background-color: #40278C!important;
}

.text-purple {
  color: #40278C;
}

.text-sky {
  color: #CEDEFE;
}
