<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Unread Notifications"></app-popup-header>
  <div class="modal-body">
    <div class="row my-2 d-flex align-items-center justify-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col text-right">
            <a href="javascript:void(0)" class="text-right purple-link mb-1" (click)="goTo('/notifications/overview')">
              View All Notifications
            </a>
          </div>
        </div>
      </div>
      <div class="col text-light">
        <ng-container *ngFor="let notification of algoNotifications">
          <app-algo-notification-item
            (routeTo)="goTo($event)"
            [isInPopup]="true"
            [notification]="notification">
          </app-algo-notification-item>
        </ng-container>
        <p class="text-center mb-0" *ngIf="algoNotifications.length === 0">
          There are no unread system notifications.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <a (click)="close()" href="javascript:void(0)" class="btn btn-purple">
          Close
        </a>
      </div>
    </div>
  </div>
</ng-template>
