<ng-template #content let-modal>
  <app-popup-header popupHeaderTitle="Unread Notifications"></app-popup-header>
  <div class="modal-body">
    <p class="text-purple text-center lead">GRY 1</p>
    <div class="row my-2 d-flex align-items-center justify-content-center">
      <div class="col text-purple">
        <ul class="list-group">
          <li class="list-group-item">Notification description 1</li>
          <li class="list-group-item">Notification description 2</li>
          <li class="list-group-item">Notification description 3</li>
          <li class="list-group-item">Notification description 4</li>
          <li class="list-group-item">Notification description 5</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <a (click)="close()" href="javascript:void(0)" class="btn btn-purple">
          Close
        </a>
      </div>
    </div>
  </div>
</ng-template>
