<app-navbar></app-navbar>

<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="container-fluid pt-0">

      <h4 class="text-light pt-3 pb-1">
        Notifications
      </h4>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="card border-0">
            <div class="card-body h-100 gradient-box">
              <div class="row">
                <div class="col-10 font-weight-bolder">
                  Algo System Notifications
                </div>
                <div class="col-2 text-center align-self-center">
                  <a href="javascript:void(0)" class="navy-link">
                    <fa-icon [icon]="faBell" size="lg"></fa-icon>
                    <span class="badge bg-yellow text-light badge-number">5</span>
                  </a>
                </div>
              </div>
              <hr class="purple-line">
              <app-notification-item></app-notification-item>
              <hr class="purple-line">
              <app-notification-item></app-notification-item>
              <hr class="purple-line">
              <app-notification-item></app-notification-item>
              <hr class="purple-line">
              <app-notification-item></app-notification-item>
              <hr class="purple-line">
              <app-notification-item></app-notification-item>
              <hr class="purple-line">
              <app-notification-item></app-notification-item>
              <hr class="purple-line mb-0">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card border-0">
            <div class="card-body h-100 gradient-box">
              Nedim
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card border-0">
            <div class="card-body h-100 gradient-box">
              Nedim
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
