<router-outlet name="popup"></router-outlet>
<app-navbar></app-navbar>

<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="container-fluid pt-0" id="algoPositionForm">

      <div *ngIf="!sharedService.getIsLoanPaid(); else loanPaid">
        <!-- Display on mobile -->
        <div class="alert justify-content-between alert-warning d-lg-none loan-unpaid-mobile" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Please click the button "Pay Off Loan" to return the 1.50 XLM loan to GRAYLL.
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'xlm-loan'}}]">Pay Off Loan</button>
        </div>

        <h4 class="text-light pb-1 page-title">
          Algo System
        </h4>

        <!-- Display on larger devices -->
        <div class="alert alert-warning loan-unpaid justify-content-between d-none d-lg-flex" role="alert">
          <div style="display: inline;">
            <fa-icon [icon]="faWarning" class="text-purple" [fixedWidth]="true"></fa-icon>
            Please click the button "Pay Off Loan" to return the 1.50 XLM loan to GRAYLL.
          </div>
          <button class="btn btn-purple" [routerLink]="[{outlets: {popup: 'xlm-loan'}}]">Pay Off Loan</button>
        </div>
      </div>

      <ng-template #loanPaid>
        <h4 class="text-light pt-3 pb-1">
          Algo System
        </h4>
      </ng-template>

      <div style="clear:both"></div>

      <!-- Top 3 boxes -->
      <app-system-header-boxes></app-system-header-boxes>
      <br class="d-none d-lg-block">
      <!-- Large chart -->
      <app-main-chart></app-main-chart>

      <!-- Bottom table -->
      <app-activity [activeTabId]="activeTabId"></app-activity>
    </div>
  </div>
</div>
