<router-outlet name="popup"></router-outlet>
<app-navbar></app-navbar>

<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="container-fluid pt-0">

      <h4 class="text-light pt-3 pb-1">
        Security
      </h4>

      <div class="row d-flex justify-content-center align-items-center d-md-none">
        <div class="col mx-auto">
          <ngb-tabset activeId="security">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="faUser"></fa-icon>
              </ng-template>
              <ng-template ngbTabContent></ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="faBell"></fa-icon>
              </ng-template>
              <ng-template ngbTabContent></ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="faComment"></fa-icon>
              </ng-template>
              <ng-template ngbTabContent></ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="faChartBar"></fa-icon>
              </ng-template>
              <ng-template ngbTabContent></ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="faWallet"></fa-icon>
              </ng-template>
              <ng-template ngbTabContent></ng-template>
            </ngb-tab>

            <ngb-tab id="security">
              <ng-template ngbTabTitle>
                <fa-icon [icon]="faLock"></fa-icon>
              </ng-template>
              <ng-template ngbTabContent></ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 mt-3">
          <div class="card border-0">
            <div class="card-body bg-gradient text-light">
              <div class="row">
                <div class="col-md-9">
                  <p class="lead">Two-Factor Authentication - 2FA</p>
                  <p>Enable to protect your account with 2FA. Strongly recommended.</p>
                  <a href="javascript:void(0)" class="d-none d-md-block text-pink">
                    Read more about 2FA
                  </a>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center d-md-none mb-2">
                  <a href="javascript:void(0)" class="text-pink text-center">
                    Read more about 2FA
                  </a>
                </div>
                <div *ngIf="!is2FAEnabled" class="col d-flex justify-content-center align-items-center">
                  <button [routerLink]="[{outlets: {popup: 'google-authenticator'}}]" class="btn btn-purple text-center">Enable</button>
                </div>
                <div *ngIf="is2FAEnabled" class="col d-flex justify-content-center align-items-center">
                  <button [routerLink]="[{outlets: {popup: 'disable-two-fa'}}]" class="btn btn-yellow text-center">Disable</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-0">
            <div class="card-body bg-gradient text-light">
              <div class="row">
                <div class="col-md-9">
                  <p class="lead">IP Address Confirmation</p>
                  <p>If enabled, logins from new IP addresses will require email confirmation.</p>
                </div>
                <div *ngIf="!isIPConfirmEnabled" class="col d-flex justify-content-center align-items-center">
                  <button (click)="toggleIPConfirm()" class="btn btn-purple text-center">Enable</button>
                </div>
                <div *ngIf="isIPConfirmEnabled" class="col d-flex justify-content-center align-items-center">
                  <button (click)="toggleIPConfirm()" class="btn btn-yellow text-center">Disable</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-0 mb-0">
            <div class="card-body bg-gradient text-light">
              <div class="row">
                <div class="col-md-9">
                  <p class="lead">Multisignature Transactions</p>
                  <p>Multisignature improves your wallet security by requiring additional approvals for each
                    transaction. <br>Two-factor authentication (2FA) needs to be enabled to enable the multisignature
                    option.
                  </p>
                </div>
                <div *ngIf="!isMultisignatureEnabled" class="col d-flex justify-content-center align-items-center">
                  <button [routerLink]="[{outlets: {popup: 'enable-multisignature'}}]" class="btn btn-purple text-center">Enable</button>
                </div>
                <div *ngIf="isMultisignatureEnabled" class="col d-flex justify-content-center align-items-center">
                  <button [routerLink]="[{outlets: {popup: 'disable-multisignature'}}]" class="btn btn-yellow text-center">Disable</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-2 mt-3 bg-pink settings-menu text-center d-none d-md-block">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent font-16 list-group-item-action">Profile</li>
            <li class="list-group-item bg-transparent font-16 list-group-item-action">Notifications</li>
            <li class="list-group-item bg-transparent font-16 list-group-item-action">Messages</li>
            <li class="list-group-item bg-transparent font-16 list-group-item-action">Data</li>
            <li class="list-group-item bg-transparent font-16 list-group-item-action">Wallet</li>
            <li class="list-group-item bg-transparent font-16 list-group-item-action active">Security</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
